@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ToDO</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Fontawesome/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/mdb/css/mdb.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/mastercss/style.css" />
    <link href="~/Datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Datatables/jquery.dataTables.min.js" rel="javascript"></script>
    <style>
        body {
            background: url('/mastercss/female-hands-writing-plan-notepad-holding-coffee-tablet-money-wooden-background.jpg');
            background-size: cover;
        }

        text-container {
            display: flex;
            align-content: center;
            justify-content: center;
        }

        p {
            font-size: inherit;
            color: red;
        }
    </style>

</head>
<body>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top" style="opacity:0.8">
        <!-- Container wrapper -->

        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" style="padding-left:125px" asp-action="Home">
                To-Do
            </a>
            <!-- Right links -->

            <ul class="navbar-nav ms-auto d-flex flex-row" style="padding-right:155px;">
                <!-- Avatar -->
                <li class="nav-item me-3 me-lg-0">
                    @Html.ActionLink("Login", "Login", "User", null, new { @class = "list-group-item list-group-item-action py-2 ripple" })
                </li>
                <li class="nav-item me-3 me-lg-0">
                    &nbsp; &nbsp;
                </li>
                <li class="nav-item me-3 me-lg-0">
                    @Html.ActionLink("Signup", "Register", "User", null, new { @class = "list-group-item list-group-item-action py-2 ripple" })
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    @RenderBody()

    <script src="Bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>