@{
    Layout = "~/Views/Shared/homeLayout.cshtml";
}

<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<div>
    <h2 style="display:flex;justify-content:center;text-align:center">&nbsp &nbsp Free Up Your Mind Space <br />With ToDO</h2>
</div>
<br />
<div style="display:flex; justify-content:center">
    <a asp-action="Login">
        <input class="btn btn-primary" type="submit" value="Get Started" />
    </a>
</div>